doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        script(src="https://cdn.tailwindcss.com")
    body 
        include ../includes/navigation.pug
        main.h-full.w-full.bg-gray-400.rounded-md.bg-clip-padding.backdrop-filter.backdrop-blur-sm.bg-opacity-10.border.border-gray-100.min-h-screen
            h1.flex.justify-center.items-center.font-extrabold.text-5xl.text-gray-600.py-5.w-full Ordering View    
        include ../includes/end.pug