header
        nav.flex.justify-around.py-6.text-blue-800
            ul.flex.justify-around.gap-10
                li
                    a(href="/") Home
                li
                    a(href="/products") Products
                li
                    a(href="/cart") Cart
            ul.flex.justify-around.gap-10
                li
                    a(href="/admin/products") My Products
                li
                    a.rounded-full.bg-blue-600.text-white.p-2.w-full(href="/admin/add-product") + Add Product
                
                    