<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="error-bg">
    <div class="flex flex-col justify-center items-center h-screen gap-5">
      <h1 class="text-blue-600 font-extrabold text-9xl">404 Error!</h1>
      <div>
        <p class="w-full capitalize">
          The page which you are looking for doesn't exist.
        </p>
        <a href="/"
          ><button class="rounded-full bg-blue-600 text-white p-4 w-full mt-10">
            Home
          </button></a
        >
      </div>
    </div>
  </body>
</html>
