doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    script(src="https://cdn.tailwindcss.com")
  body
    div.flex.flex-col.justify-center.items-center.h-screen.gap-5
      h1.text-blue-600.font-extrabold.text-9xl 404 Error!
      div
        p.w-full.capitalize The page which you are looking for doesn't exist.
        a(href="/")
          button.rounded-full.bg-blue-600.text-white.p-4.w-full.mt-10 Home