<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul class="flex justify-around py-6">
          <li><a href="/">Home</a></li>
          <li>
            <a href="#" class="rounded-full bg-blue-600 text-white p-2 w-full"
              >+ Add Product</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main
      class="flex flex-col justify-center items-center h-full w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-100 py-10 gap-5"
    >
      <h1 class="font-extrabold text-blue-500 capitalize">
        This is a Ordering view of our Shoping Page
      </h1>
      <form
        action="/admin/add-product"
        method="POST"
        class="flex justify-around gap-10 mt-10"
      >
        <input
          type="text"
          name="product"
          required
          class="border-b border-solid border-b-2 border-blue-500 p-2 bg-transparent outline-none"
          placeholder="Add Product..."
        />
        <button
          type="submit"
          class="border-solid border-b-2 border-blue-500 p-2 text-blue-500"
        >
          Add to Card
        </button>
      </form>
    </main>
  </body>
</html>
