<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Add-Product</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>This is a Ordering view of our Shoping Page</h1>
      <form action="/admin/add-product" method="POST">
        <input type="text" name="product" required />
        <button type="submit">Add to Card</button>
      </form>
    </main>
  </body>
</html>
