<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul class="flex justify-around py-6">
          <li><a href="/">Shop</a></li>
          <li>
            <a
              href="/admin/add-product"
              class="rounded-full bg-blue-600 text-white p-2 w-full"
              >+ Add Product</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main
      class="h-full w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-100"
    >
      <h1
        class="flex justify-center items-center font-extrabold text-5xl text-blue-600 py-5 w-full"
      >
        List of all the products
      </h1>
    </main>
  </body>
</html>
